.box {
    /* border: 1px solid transparent; */
    padding: 1px;
    background-color: rgb(134, 131, 124);

}


/* .box:hover {
    transition: .5s ease all;
    transform: rotate(1950deg);
    background-color: aqua;
    color: red;
} */

.text-1 {
    margin-bottom: 50px;
}

.text-2 {
    margin-top: 70px;
}

caption {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 10px 10px 0 0;
}

table, th, td {
    padding: 5px 10px;
    border-collapse: collapse;
    border: 1px solid #000;
}